body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

section{
  margin-bottom: 150px;
}
.flex-container{
  display: flex;
}

.helf-width{
  width: 45%;
  padding-left: 6.5%;
}
.helf-width img{
  width: 90%;

  /* overflow: hidden; */
}
.orange-color{
  color: orange;
}
h1{
  font-size: 50px;
}
.helf-width p{
color:#777 ;
}
.link-btn{
  text-decoration: none;
  color:#ffffff;
  font-weight:700;
  padding: 10px 30px;
  border-radius: 5px;
  letter-spacing: 1.2px;
  background-image: linear-gradient(to left,#FF694C, #FF9C76 );
}
.top-main{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
  .dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom ;
  }
  .experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
  }

  .dream-big-text{
    padding-right: 75px;
  }
  .experience .helf-width{
    width: 43%;
    padding-left:3%;
    padding-bottom: 80px;
    border-radius: 5px;
    box-shadow: 5px 5px 40px gray, -0px -0px 20px gray;

  }
  .experience .helf-width h1{
    font-size: 35px;
  }
  .experience .box-1{
    margin-left: 4%;
    margin-right:3%;
  }
  .experience .box-2{
    margin-left: 3%;
    margin-right: 4%;
  }
  .experience .box-1{
    border-left: 10px solid; 
    border-image: linear-gradient(#FF694C, #FF9C76) 30;
    border-image-slice:1;
}
  .experience .box-2{
    border-left: 10px solid; 
    border-image: linear-gradient(blue, cyan) 30;
    border-image-slice:1;
}

footer p{
  text-align: center;
}